@media screen and (max-width: 1000px) {
	.korisnik {
  margin-left:150px;
}

.opg_slika {
  margin-left:-80px;

}
	
	
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
	.korisnik {
  margin-left:180px;
}

.opg_slika {
  margin-left:-270px;

}


}

@media screen and (max-width: 770px) {
	.korisnik {
  margin-left:100px;
}
.opg_slika {
  margin-left:-150px;

}

}

@media screen and (max-width: 640px) {
	.korisnik {
  margin-left:0px;
}

.opg_slika {
  margin-left:-250px;

}
}

@media screen and (max-width: 480px) {
.korisnik {
  margin-left:0px;
}
	
}

@media screen and (max-width: 320px) {
	.korisnik {
  margin-left:0px;
}	


}