@media screen and (max-width: 1000px) {
	.korisnik {
  margin-left:150px;
}
.pro {
  margin-right:-120px;
}

	
}




@media screen and (max-width: 900px) {
.pro {
  margin-right:-100px;
}

}


@media screen and (max-width: 768px) {
	.korisnik {
  margin-left:100px;
}


}

@media screen and (max-width: 640px) {
	.korisnik {
  margin-left:0px;
}


}

@media screen and (max-width: 480px) {
.korisnik {
  margin-left:0px;
}
	
}

@media screen and (max-width: 320px) {
	.korisnik {
  margin-left:0px;
}	


}